<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Document</title>
</head>

<body>

    <div class="header">
        <h1>Book Store</h1>
        <a href="/login" class="button">Login</a>
    </div>

    <div class="main">
        <div class="container">
            <h3>Welcome to the Book Store</h3>
            <p>Discover your next favorite book! Login to get started.</p>
            <a href="/login" class="button">Login</a>
        </div>
    </div>

</body>

</html>
